_build.*
*.dylib
*.o
*.os
*.pyc
*.so
.sconf_temp
.sconsign.dblite
config.log
doc/htmlDir
python/lsst/meas/extensions/convolved/convolvedLib.py
python/lsst/meas/extensions/convolved/convolvedLib_wrap.cc
tests/.tests
ups/*.cfgc
python/lsst/meas/extensions/convolved/version.py
.cache
.pytest_cache
.coverage
python/*.dist-info/
